.content_list {
    list-style: none;
    margin: 0; // there should be no spacing between this list and a preceeding filter_box

    // HACK: the current markup uses hr to produce a line at the bottom of each li.
    // we use borders instead
    .hr, hr {
        display: none;
    }

    h3 {
        font-size: 16px;
    }
    .tile.text.history h3 {
        color: $black;
    }

    .level-1 {
        padding-left: 1.5em;
    }
    .level-2 {
        padding-left: 3em;
    }
    .level-3 {
        padding-left: 4em;
    }
    .level-4 {
        padding-left: 5.5em;
    }
    .level-5 {
        padding-left: 7em;
    }

    .logo {
        float: left;
        margin: 0 10px 10px 0;
    }

    > * {
        padding: 1em 0;
        @include clearfix();
    }
    #col1 & {
        background: $bg1;
        padding: 1em;

        > * {
            padding: 1em;

            &:nth-child(odd) {
                background: #fff;
            }
            &:nth-child(even) {
                background: transparent;
            }
            .meta {
                color: $fg1;
                margin: 0;
            }
            @include kit-rund-eckig(1em);
        }
    }
    #col3 & > *:not(:last-child) {
        border-bottom: 1px dotted $border;
    }  
}

// HACK
.pager_wrapper > .hr {
    display: none;
}

.tile.event {
    padding: 10px 0 2px 0;
    border-top: 1px dotted $border;
    &:first-child {
        border-top: none;
    }
}

.event_text {
    padding: 3px 0;

    /* force markdown created text to be small */
    * {
        margin: 0 !important;
        padding: 0 !important;
        font-size: small !important;
        background: none !important;
        /*color: $fg1 !important;*/
        font-variant: none !important;
    }
    li {
        margin-left: 20px !important;
    }
}
