.content_list {
    list-style: none;
    margin: 0; // there should be no spacing between this list and a preceeding filter_box

    // HACK: the current markup uses hr to produce a line at the bottom of each li.
    // we use borders instead
    .hr, hr {
        display: none;
    }

    h3 {
        font-size: 16px;
    }
    .tile.text.history h3 {
        color: $black;
    }

    .level-1 {
        padding-left: 1.5em;
    }
    .level-2 {
        padding-left: 3em;
    }
    .level-3 {
        padding-left: 4em;
    }
    .level-4 {
        padding-left: 5.5em;
    }
    .level-5 {
        padding-left: 7em;
    }

    .logo {
        float: left;
        margin: 0 10px 10px 0;
    }

    > * {
        padding: 1em 0;
        @include clearfix();
    }
    #col1 & {
        background: $bg1;
        padding: 1em;

        > * {
            padding: 1em;

            &:nth-child(odd) {
                background: #fff;
            }
            &:nth-child(even) {
                background: transparent;
            }
            .meta {
                color: $fg1;
                margin: 0;
            }
            @include kit-rund-eckig(1em);
        }
    }
    #col3 & > *:not(:last-child) {
        border-bottom: 1px dotted $border;
    }  
}

// HACK
.pager_wrapper > .hr, .pager_wrapper > hr {
    display: none;
}

#col3 ul.content_list.events_pager {
    font-size: 0.85em;
    color: $fg1;
}
#col1 ul.content_list.events_pager {
    .body {
        clear: both;
    }

    > li {
        position: relative;
        padding-right: 2em;

        > blockquote {
            margin: 0 0 1em;
            font-style: normal;
            color: $fg1;

            // show morelink inline with paragraph before that
            > p:nth-last-child(2) {
                display: inline;
            }
        }

        // icons
        padding-left: 60px;
        min-height: 38px;
        &:before {
            background-image: url("/images/event-unknown.png");
            content: "";
            display: block;
            width: 38px;
            height: 38px;
            position: absolute;
            top: 1em;
            left: 9px;
        }

        &.infobox {
            padding-left: 0;
            &:before {
                background-image: none;
            }
        }

        &.t_instance_create:before,
        &.t_instance_edit:before,
        &.t_instance_membership_update:before,
        &.n_instance_membership_update:before,
        &.t_instance_join:before,
        &.t_instance_leave:before,
        &.t_instance_delete:before,
        &.n_instance_force_leave:before,
        &.t_instance_force_leave:before {
            background-image: url("/images/event-instance.png");
        }

        &.t_select_variant:before,
        &.t_page_create:before,
        &.t_page_edit:before,
        &.t_page_delete:before {
            background-image: url("/images/event-page.png");
        }

        &.t_comment_edit:before,
        &.t_comment_create:before,
        &.t_comment_delete:before,
        &.n_comment_reply:before,
        &.n_comment_edit:before {
            background-image: url("/images/event-comment.png");
        }

        &.t_proposal_create:before,
        &.t_proposal_edit:before,
        &.t_proposal_delete:before,
        &.t_proposal_state_voting:before,
        &.t_proposal_state_draft:before {
            background-image: url("/images/event-proposal.png");
        }

        &.t_delegation_create:before,
        &.t_delegation_revoke {
            background-image: url("/images/event-delegation-out.png");
        }

        &.n_delegation_receive:before,
        &.n_delegation_lost:before {
            background-image: url("/images/event-delegation-in.png");
        }

        &.n_self_voted:before,
        &.t_vote_cast:before,
        &.t_rating_cast:before,
        &.n_delegate_voted:before {
            background-image: url("/images/event-vote.png");
        }

        &.t_proposal_badge:before {
            background-image: url("/images/event-badge.png");
        }
    }
}

// avatar in events pager
img.avatar {
    height: 2.5em;
    float: left;
    margin: 0 0.5em 0.5em 0;
}

.event_text {
    padding: 3px 0;

    /* force markdown created text to be small */
    * {
        margin: 0 !important;
        padding: 0 !important;
        font-size: small !important;
        background: none !important;
        /*color: $fg1 !important;*/
        font-variant: none !important;
    }
    li {
        margin-left: 20px !important;
    }
}

.content_box .more {
    float: right;
    padding-top: 1em;
}
