$primary-color: #009682;
$primary-color-70: #4cb5a7;
$primary-color-50: #7fcac0;
$primary-color-15: #d9efec;
$button-color: #B2B2B2;
$red: #BC1818;
$green: #75B726;
$register-color: $primary-color;
$black: #000;
