$primary-color: #009682;
$primary-color-70: #4cb5a7;
$primary-color-50: #7fcac0;
$primary-color-15: #d9efec;

$black: #000;
$button-color: #B2B2B2;
$red: #BC1818;
$green: #75B726;
$register-color: $primary-color;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #666;

$flash: #fffde4;
