$primary-color: #009682;
$primary-color-70: #4cb5a7;
$primary-color-50: #7fcac0;
$primary-color-15: #d9efec;

$black: #000;
$button-color: #B2B2B2;
$red: #BC1818;
$green: #75B726;
$register-color: $primary-color;
$header-color: #2b2b2b;
$header-color2: #3c3c3c;

$bg1: #f4f4f4;
$bg2: #e6e6e6;
$border: #ccc;
$fg1: #666;

$flash: #fffde4;

$smaller: smaller;
$larger: larger;

$x-small: 7px;
$small: 9px;
$medium: 11px;
$large: 13px;
$x-large: 18px;
