@mixin vote-background($color) {
    @include linear-gradient(0deg, darken($color, 10%), $color);
}
@mixin vote-background-inverted($color) {
    @include linear-gradient(0deg, $color, darken($color, 10%));
}

.vote {
    //@include vote-background(#eaeaea);
    @include vote-background(#fff);
    border: 1px solid #ccc;
    height: 14px;
    line-height: 14px;
    @include border-radius(7px);
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    font-size: 11px;
}
.vote_count, .vote_up, .vote_down {
    display: inline-block;
}
.vote_count {
    color: #fff;
    padding: 0 5px;
}

.vote_count.neutral {
    color: #888;
}
.vote_count.negative {
    @include vote-background($red);
}

.vote_count.positive {
    @include vote-background($green);
}

.vote_up, .vote_down {
    border-left: 1px solid #ccc;
    padding: 0 10px;
    height: 14px;
    width: 10px;
    display: inline-block;
}
.vote_up:hover {
    @include vote-background-inverted($green);
    text-decoration: none;
}
.vote_up:active, .vote_up.active {
    @include vote-background-inverted($green);
    box-shadow: 1px 1px 1px #333 inset;
}
.vote_down:hover {
    @include vote-background-inverted($red);
    text-decoration: none;
}
.vote_down:active, .vote_down.active {
    @include vote-background-inverted($red);
    box-shadow: 1px 1px 1px #333 inset;
}
.vote_up span {
    background: url('/images/sprite_icons.png') no-repeat -19px -206px;
    height: 14px;
    width: 10px;
    display: inline-block;
}
.vote_up:hover span, .vote_up.active span  {
    background-position: -19px -256px;
}
.vote_down span {
    background: url('/images/sprite_icons.png') no-repeat -19px -306px;
    height: 14px;
    width: 10px;
    display: inline-block;
}
.vote_down:hover span, .vote_down.active span  {
    background-position: -19px -356px;
}

.vote.big {
    height: 26px;
    line-height: 26px;
    @include border-radius(13px);
    margin: 0 0 20px;
    font-weight: bold;
    font-size: 14px;
}

.vote.big .vote_up, .vote.big .vote_down {
    padding: 0 15px;
    height: 26px;
    width: 15px;
    display: inline-block;
}
.vote.big .vote_up:active, .vote.big .vote_up.active {
    box-shadow: 1px 1px 1px #333 inset;
}
.vote.big .vote_down:active, .vote.big .vote_down.active {
    box-shadow: 1px 1px 1px #333 inset;
}
.vote.big .vote_up span {
    background: url('/images/sprite_icons.png') no-repeat -15px -401px;
    height: 26px;
    width: 15px;
    display: inline-block;
}
.vote.big .vote_up:hover span, .vote.big .vote_up.active span  {
    background-position: -15px -451px;
}
.vote.big .vote_down span {
    background: url('/images/sprite_icons.png') no-repeat -15px -551px;
    height: 26px;
    width: 15px;
    display: inline-block;
}
.vote.big .vote_down:hover span, .vote.big .vote_down.active span  {
    background-position: -15px -501px;
}
.vote.deactivated .vote_up,
.vote.deactivated .vote_down {
    box-shadow: none !important;
}
.vote.deactivated .vote_up span,
.vote.deactivated .vote_down span {
background-image: none !important;
}

.vote_wrapper .or {
    display: inline-block; 
    vertical-align: top; 
    padding-top: 6px
}
